<div class ="row">
  <h2>Follower Users</h2>

  <% if @users.length > 0 %>
  <table class= "table">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, format: 'jpeg', class: "pull-left profile-thumb", fallback: "no_image.jpg", size: "40x40" %></td>
        <td><%= user.name %></td>
        <td><%= "フォロー数：#{user.follower.count}" %></td>
        <td><%= "フォロワー数：#{user.followed.count}" %></td>
        <td><%= link_to "show", user_path(user) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <%= "ユーザーはいません" %>
  <% end %>

</div>